{% extends 'base.html' %}
{% block title %}Daftar Adopter{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Daftar Adopter</h2>
    <table class="table table-bordered mt-3">
        <thead class="table-light">
            <tr>
                <th>Nama Adopter</th>
                <th>Total Kontribusi</th>
                <th>Riwayat Adopsi</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for adopter in admin_list_adopter %}
            <tr>
                <td>{{ adopter.nama }}</td>
                <td>Rp{{ adopter.total_kontribusi}}</td>
                <td><a href="{% url 'adopsi:admin_riwayat_adopsi' adopter.id %}">[Lihat Detail]</a></td>
                <td>
                    <button type="button" class="btn btn-sm btn-link text-danger" data-bs-toggle="modal" data-bs-target="#hapusAdopterModal{{ adopter.id }}">[Hapus]</button>

                    <!-- Modal Hapus Adopter -->
                    <div class="modal fade" id="hapusAdopterModal{{ adopter.id }}" tabindex="-1" aria-labelledby="hapusAdopterLabel{{ adopter.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body text-center">
                            <p>Yakin ingin menghapus adopter <strong>{{ adopter.nama }}</strong>?</p>
                            <div class="d-flex justify-content-center gap-3">
                              <form method="post" action="{% url 'adopsi:hapus_adopter' adopter.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Ya, Hapus</button>
                              </form>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
