{% extends 'base.html' %}

{% block title %}Staff Profile{% endblock %}

{% block content %}
<div>
    <h1>Welcome, {{ user.nama_depan }}!</h1>
    <h3>Staff Profile</h3>
    
    <div>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Staff ID:</strong> {{ user.staff_id }}</p>
        <p><strong>Name:</strong> {{ user.nama_depan }} {% if user.nama_tengah %} {{ user.nama_tengah }} {% endif %} {{ user.nama_belakang }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.nomor_telepon }}</p>
        <p><strong>Role:</strong> 
            {% if user.peran == 'penjaga_hewan' %}
                Animal Keeper
            {% elif user.peran == 'staff_administrasi' %}
                Administrative Staff
            {% elif user.peran == 'pelatih_pertunjukan' %}
                Show Trainer
            {% endif %}
        </p>
    </div>
    
    <h3>Staff Options</h3>
    {% if user.peran == 'penjaga_hewan' %}
        <ul>
            <li><a href="#">Animal Care Schedule</a></li>
            <li><a href="#">Feeding Records</a></li>
            <li><a href="#">Enclosure Maintenance</a></li>
        </ul>
    {% elif user.peran == 'staff_administrasi' %}
        <ul>
            <li><a href="#">Ticket Sales Report</a></li>
            <li><a href="#">Staff Management</a></li>
            <li><a href="#">Financial Reports</a></li>
        </ul>
    {% elif user.peran == 'pelatih_pertunjukan' %}
        <ul>
            <li><a href="#">Show Schedule</a></li>
            <li><a href="#">Training Records</a></li>
            <li><a href="#">Performance Analytics</a></li>
        </ul>
    {% endif %}
</div>
{% endblock %}